
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --accent-color: #e74c3c;
    --bg-color: #ecf0f1;
    --text-color: #34495e;
    --white: #ffffff;

    --font-size-xx-small: 10px;
    --font-size-x-small: 13px;
    --font-size-small: 15px;
    --font-size-medium: 18px;
    --font-size-large: 20px;
    --font-size-x-large: 22px;
    --font-size-xx-large: 25px;
    --font-size-xxx-large: 30px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Header styles */
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background-color: transparent;
    transition: all 0.3s ease;
    z-index: 1000;
}


header.scrolled {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header > div {
    display: flex;
    align-items: center;
}

header .chose-header {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: auto;
}

header .chose-header > div > a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

header .chose-header > div > a:hover {
    color: var(--primary-color);
}

/* Home section styles */
.home_section {
    text-align: center;
    height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2015/01/08/18/25/desk-593327_1280.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home_section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.button-link {
    display: inline-block;
    border-radius: 30px;
    outline: none;
    text-align: center;
    height: 50px;
    background-color: #5C452E;
    cursor: pointer;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    color: var(--white);
    transition: all 0.3s ease;
    margin-top: 20px;
    text-decoration: none;
    line-height: 50px;
}

.button-link:hover {
    background-color: #5C452E;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.home_section > div {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
    max-width: 800px;
    padding: 20px;
    font-size: var(--font-size-xx-large);
}
.home_section div + div {
    margin-top: 20px;
}

.home_section button {
    border-radius: 30px;
    outline: none;
    text-align: center;
    height: 50px;
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    color: var(--white);
    transition: all 0.3s ease;
    margin-top: 20px;
}

.home_section button:hover {
    background-color: #c0392b;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.about_me_section,
.overall_experiences_section,
.project_section,
.contact_section {
    padding: 80px 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.about_me_section {
    background-color: var(--white);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    max-width: 1200px;
    margin: 40px auto;
    border-radius: 10px;
}

.about_me_section h1 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--secondary-color);
    font-size: xx-large;
}

.about_me_content {
    display: flex;
    align-items: center;
    margin: 40px 0;
}


.about_me_content img {
    border-radius: 10px;
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-bottom: 40px;
    transition: transform 0.3s ease;
}



.about_me_content div {
    font-size: var(--font-size-large);
    flex: 1;
    line-height: 1.8;
    margin-left: 20px;
}


.skill_information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    gap: 30px;
}

.skill_information .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: var(--white);
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.skill_information .skill:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.skill_information .skill img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}


.skill_information .skill span {
    font-size: var(--font-size-large);
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.skill_information .skill div {
    text-align: center;
    font-size: var(--font-size-medium);
}


.overall_experiences_section {
    padding: 0px 20px;
    max-width: 1200px;
    margin: 40px auto;
    border-radius: 10px;
}
.overall_experiences_section > div {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}


.overall_experiences_section h1 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--secondary-color);
    font-size: var(--font-size-xx-large);
}
.overall_experiences_section > h2{
    margin-top: 10px;
}

.overall_experiences_section h2 {
    font-size: var(--font-size-x-large);
    margin-bottom: 5px;
    color: var(--primary-color);

}
.overall_experiences_section div{
    margin-top: 20px;
    font-size: var(--font-size-large);
}


.project_section {
    background-color: var(--bg-color);
}

.project_section h2 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--secondary-color);
    font-size: xx-large;
}

.project_section section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background-color: var(--white);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.project_section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
}

.project_section a {
    display: inline-block;
    margin-top: 10px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}
.project_section_introduction:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.project_section_introduction  div{
    font-size: var(--font-size-large);
    margin-bottom: 15px;
}
.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-align: center;
    width: 100%;
    font-size: var(--font-size-x-large);
}

/* Contact section styles */
.contact_section {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact_section h1 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--secondary-color);
    font-size: xx-large;
}

.contact_section .form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.contact_section .form-group .left-side,
.contact_section .form-group .right-side {
    flex: 1 1 45%;
}

.contact_section input[type="text"],
.contact_section textarea {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.contact_section input[type="text"]:focus,
.contact_section textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

.contact_section textarea {
    height: 200px;
    resize: vertical;
}

.contact_section button {
    display: block;
    width: 200px;
    margin: 30px auto 0;
    padding: 15px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
}

.contact_section button:hover {
    background-color: #2980b9;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contact_section > div:last-child {
    margin-top: 30px;
    text-align: center;
}

.contact_section > div:last-child a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.contact_section > div:last-child a:hover {
    text-decoration: underline;
}